<footer class="inner">
  <p class="copyright text_shadow">{{ site.title }} maintained by <a class="text_shadow" href="https://github.com/{{ site.github_username }}">{{ site.github_username }}</a></p>
  <p class="text_shadow">Published with <a class="text_shadow" href="http://pages.github.com">GitHub Pages</a></p>
  <p class="text_shadow">Original background image from <a class="text_shadow" href="{{ site.original_background_image_url }}">here</a> (<a class="text_shadow" href="{{ site.background_image_licence }}">license</a>)</p>
</footer>
